@{
    Layout = "_Layout";
}

@using Northwind.Models
@model IEnumerable<Customer>

<div class="container">
    <div class="row mt-4 mb-2">
        <div class="col-md-12 col-sm-12">
            <h4 class="mb-4">Northwind Customers</h4>
            <table class="table" class="mb-4">
                <thead>
                    <th>Company</th>
                    <th><i class="bi bi-house"></i> Address</th>
                    <th><i class="bi bi-telephone"></i> Phone</th>
                    <th><i class="bi bi-printer"></i> Fax</th>
                </thead>
                <tbody>
                    @foreach (Customer customer in Model)
                    {
                        <tr>
                            <td>@customer.CompanyName</td>
                            <td>@customer.Address <br /> @customer.City, @customer.Region @customer.PostalCode <br /> @customer.Country</td>
                            <td>@customer.Phone</td>
                            <td>@(string.IsNullOrWhiteSpace(customer.Fax) ? "N/A" : customer.Fax)</td>
                        </tr>
                    }
                </tbody>
            </table>
            <a href="@Url.Action("Register", "Customer")">Add New</a>
        </div>
    </div>
</div>