@{
    Layout = "_Layout";
}

@using Northwind.Models
@model Customer

<div class="container mt-3">
    <form id="customer-registration" method="post" asp-controller="Customer" asp-action="Register" class="mt-4">
        <legend>Customer Registration</legend>
        <div asp-validation-summary="All" class="text-danger mb-3"></div>

        <div class="mb-3">
            <label asp-for="@Model.CompanyName" class="form-label">Company Name</label>
            <input asp-for="@Model.CompanyName" class="form-control" placeholder="Company Name" />
        </div>

        <div class="mb-3">
            <label asp-for="@Model.Address" class="form-label">Address</label>
            <input asp-for="@Model.Address" class="form-control" placeholder="Address" />
        </div>

        <div class="row  mb-3">
            <div class="col-md-6 col-sm-12">
                <label asp-for="@Model.City" class="form-label">City</label>
                <input asp-for="@Model.City" class="form-control" placeholder="City" />
            </div>
            <div class="col-md-6 col-sm-12">
                <label asp-for="@Model.PostalCode" class="form-label">Postal Code</label>
                <input asp-for="@Model.PostalCode" class="form-control" placeholder="Postal Code" />
            </div>
        </div>
    
        <div class="row  mb-3">
            <div class="col-md-6 col-sm-12">
                <label asp-for="@Model.Region" class="form-label">Region</label>
                <input asp-for="@Model.Region" class="form-control" placeholder="Region" />
            </div>
            <div class="col-md-6 col-sm-12">
                <label asp-for="@Model.Country" class="form-label">Country</label>
                <input asp-for="@Model.Country" class="form-control" placeholder="Country" />
            </div>
        </div>

        <div class="mb-3">
            <label asp-for="@Model.Phone" class="form-label">Phone</label>
            <input asp-for="@Model.Phone" class="form-control" placeholder="Phone" />
        </div>

        <div class="mb-3">
            <label asp-for="@Model.Fax" class="form-label">Fax</label>
            <input asp-for="@Model.Fax" class="form-control" placeholder="Fax" />
        </div>

        <div class="mt-4">
            <button type="submit" class="btn btn-outline-success">Create</button>
            <a asp-controller="Customer" asp-action="Index" class="btn btn-outline-secondary ms-2">View All</a>
        </div>
    </form>
</div>